services:
  app:
    container_name: docker-test-app-compose
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_USER=dev
      - DATABASE_PASSWORD=devpass
      - DATABASE_NAME=devdb
    command: ["npm", "run", "dev"]
    volumes:
      - .:/usr/src/app
    depends_on:
      - db
    restart: unless-stopped


  db:
    image: postgres:15-alpine
    container_name: docker-test-db
    environment:
      - POSTGRES_USER=dev
      - POSTGRES_PASSWORD=devpass
      - POSTGRES_DB=devdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata:
